---
---

@import "{{ site.theme }}";

body {
  font: 13px/1.5 'Libre Baskerville', serif;
  color: #000000;
}

code, pre {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.95em;
  color: #a64b00;
  background-color: #f7f7f7;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
}

header h1 {
  font-style: italic;
  font-size: 42px;
  margin-bottom: 5px;
}

a, a code {
  color: #ff7400;
}

a:hover, a:focus, a:hover code, a:focus code {
  color: #bf7130;
  font-weight: inherit;
}

/* Override settings for 'header ul' */

ul.links {
  width: inherit;
  list-style:none;
  height: inherit;
  padding: 0;
  background: inherit;
  border: none;
}

.links li {
  width: auto;
  float: none;
  border: none;
  height: auto;
}

.links a {
  line-height: inherit;
  font-size: inherit;
  color: #ff7400;
  display: block;
  text-align: inherit;
  padding: none;
  height: auto;
}

.links a:hover {
  color: #bf7130;
  font-weight: inherit;
}
